@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);

*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}


body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
}
a {
	text-decoration: none;
	color: #000;
}
button {
    border: none;
    background-color: transparent;
}
header {
	padding: 0;
  background-color: #43484C;
  color: #FFF;
}
header a {
  color: #FFF;
}
.logo {
	padding-top: 40px;
}
.logo .logo_txt {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 36px;
	font-family: "BebasRegular";
}
.logo_descript {
	font-family: Arial serif;
	font-size: 13px;
	padding-left: 9px;
	text-transform: capitalize;
}
.main_mnu {
	float: right;
}
.main_mnu ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.main_mnu ul li {
	float: left;
}
.main_mnu a {
	display: block;
	font-family: "HelveticaLTStd-LightCondObl";
	font-size: 22px;
	font-weight: 100;
	padding: 50px 16px 34px;

}
.main_mnu a:hover {
	background-color: #D45E5E;
	color: #fff;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
.main_mnu_btn {
	background-color: transparent;
	border: medium none;
	font-size: 26px;
	padding: 13px 0 0 10px;
}

.psd_to_html {
  background: url(../img/psd_html_css.png) no-repeat center;
  padding-top: 260px;
  background-color: #4AAAD2;
  background-size: contain;
  box-shadow: 10px 10px 5px #888888;
}

    /* portfolio */

/* анимация для галлереи */

/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transform: scale(0) rotate(90deg); /* добавил правило для зума и вращения  */
  -ms-transform: scale(0) rotate(90deg);
  -o-transform: scale(0) rotate(90deg);
  transform: scale(0) rotate(90deg);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
  -webkit-transform: scale(1) rotate(0); /* добавил правило для зума и вращения  */
  -ms-transform: scale(1) rotate(0);
  -o-transform: scale(1) rotate(0);
  transform: scale(1) rotate(0);
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

/* конец анимации для галлереи */

.portfolio .works {
	margin-top: 20px;
}
.portfolio img {
    max-width: 100%;
    height: auto;
}
.portfolio a {
  display: inline-block;
  margin-bottom: 40px;
}

/* конец портфолио */

.info {
    background-color: #D45E5E;
    color: #FFF;
    margin-top: 30px;
    padding-bottom: 60px;
}
.info img {
    margin-top: -100px;
      border: 7px solid #fff;
}
.my_name {
    display: inline-block;
    margin-left: 30px;
    line-height: 0;
}
.my_name h3 {
    font-size: 24px;
    font-family: Cambria;
}
.my_name span {
    margin-left: 10px;
}
.my_name i {
    font-size: 22px;
    margin-right: 20px;
    color: #FFF;
}
.my_name a {
    color: #FFF;
}

.contacts {
  margin-top: 25px;
}
.contacts i {
  color: #FFF;
  font-size: 34px;
}
.soc_btn a {
  margin-left: 20px;
}
/* Skills */

.skill_block {
    margin-top: 50px;
}
.skill_block ul {
    list-style-type: none;
    padding:0;
}

.my_skills {
  font-family: Cambria;
  font-size: 24px;
}
.skill_descr {
   width: 50px;
     display: inline-block;
     margin-right: 20px;
}
.bgc_skill {
  background-color: #E27878;
  padding: 0 14px 0px 129px;
  height: 9px;
  position: relative;
  display: inline-block;
}
.bgc_percent {
  background-color: #000;
  height: 100%;
  position: absolute;
  left: 0px;
}
.bg_blackout_1 {
  width: 87%;
}
.bg_blackout_2 {
  width: 68%;
}.bg_blackout_3 {
  width: 64%;
}.bg_blackout_4 {
  width: 30%;
}


footer {
  background-color: #282828;
  height: 40px;
}
footer a {
   float: right;
  color: #F1F1F1;
  line-height: 40px;
  font-size: 11px;
  margin-right: 10px;
}